body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.btn {
  background-color: #469165;
  color: #fff;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  font-weight: 600px;
}

.btn:hover {
  background-color: #e40505b6;
}

.p-style {
  color: #627382;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 120px;
}
nav ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: black;
  font-weight: 500px;
}

#banner {
  padding: 160px 0;
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  max-height: fit-content;
  text-align: center;
  align-items: center;
}

#banner .early-access {
  color: #469165;
  background-color: #fff;
  max-width: 220px;
  border-radius: 1000px;
  padding: 8px 12px;
  margin: 0px auto;
}

#banner h1 {
  font-size: 72px;
  color: #30b868;
  font-weight: 700;
  margin: 20px 0;
}

#banner h1 span {
  color: #fff;
}

#banner p {
  margin: 20px auto;
  color: #fff;
  max-width: 620px;
}

#banner .btn1 {
  background: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 16px;
  border-radius: 4px;
  font-weight: 600px;
}

#banner .btn1:hover {
  background-color: #e40505b6;
}

#note {
  margin: 60px 120px 0 120px;
  text-align: center;
}

#note h1 {
  font-size: 48px;
  font-weight: 700;
}

#note p {
  color: #627382;
}

.card img {
  background-color: #f95555;
  border-radius: 50%;
  width: 32px;
  padding: 10px;
}

.note-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 24px;
}
.note-container .card {
    max-width: 275px;
  padding: 50px 24px;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.096);
}

#brain {
  margin: 80px 120px;
  display: flex;
  gap: 50px;
}

.brain-container {
  padding-top: 100px;
}

.brain-container .brain-text {
  color: #469165;
  font-weight: 500px;
}
.brain-container h2 {
  font-size: 48px;
  font-weight: 700;
  margin: 0px;
}
.brain-container ul {
  list-style: none;
}
.brain-container li {
  display: flex;
  gap: 4px;
  padding-bottom: 10px;
  margin-left: 0;
  padding-left: 0;
}
.brain-container p {
  display: flex;
  gap: 4px;
}

#early-access {
  margin: 120px;
  padding: 80px 0;
  border-radius: 12px;
  background: #f7f6f2;
  text-align: center;
}

#early-access h2 {
  font-size: 48px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

#early-access button {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}

footer{
    background-color: #001931;
    padding-top: 120px;

}

#footer{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin: 0 120px;
     padding-bottom: 80px;
     border-bottom: 1px solid rgba(229, 231, 235, 0.2);
     

}

#footer p{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

#footer a {
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}

.copyRight{
    text-align: center;
    color: #FAFAFA;
    padding: 30px 0;
}
