*{
    /* max-width: 1600px; */
    /* margin: 0 auto; */
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.btn{
    background-color: #469165;
    color:#FFF;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: 600px;
}

.btn:hover{
    background-color: #e40505b6;
}


nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 16px 120px;
}
nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: black;
    font-weight: 500px;
}